
MouseInfo==0.1.2
Pillow==7.0.0
psycopg2==2.8.4
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
PyTweening==1.0.3
robotframework==3.1.2
robotframework-databaselibrary==1.2.4
robotframework-seleniumlibrary==4.1.0
selenium==3.141.0
urllib3==1.25.7
openpyxl==3.0.3
keyring==21.2.0


