
Needed libraries

robotframework==3.1.2
robotframework-autoitlibrary==1.2.4
robotframework-seleniumlibrary==4.1.0
selenium==3.141.0
urllib3==1.25.7 - reinstalled so probably a later verison
virtualenv==16.7.9
wrapt==1.11.2
Pillow==7.0.0
pywin32==227
new stuff
pip install --upgrade robotframework-datadriver

Excel Support
For file support of xls or xlsx file you need to install the extra XLS or the dependencies. It contains the dependencies of pandas, numpy and xlrd. Just add [XLS] to your installation. New since version 3.6.


pip install --upgrade robotframework-datadriver

